@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './login.scss';
@import './layout.scss';

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  word-spacing: 1px;
  line-height: 1.15 !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

}

body{
  color: #333333;
  font-size: 14px;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// IE8不支持
.vetically{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-head{
  margin-bottom: 10px;
  .page-title{
    padding: 0px 0 10px;
    h1{
      color: #697882;
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      small{
        color: #9eacb4;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}

#nprogress .bar {
  // background-color: $DefaultColor !important;
}

#nprogress .peg{
  // box-shadow: 0 0 10px $DefaultColor, 0 0 5px $DefaultColor !important;
}
